header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(151, 1, 1);
    width: 100%;
}
a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;   
}
header ul li {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family:cursive;
    margin: 20px;
}
header img{
    width: 100px;
}
label{
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
input,
label{
    margin: 0.4rem 0;
  }
input:invalid ~ span::after{
    content: "✖";

    padding-left: 5px;
    position: absolute;
}  
input:valid ~ span::after{
    content: "✓";
    padding-left: 5px;
    position: absolute;
}
body{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px 0 0px 0;
    background-color: rgb(255, 255, 255);
}
h4{
    font-family:'Poppins', sans-serif
}
.buttons-network{
    position: fixed;
    top: 30%;
    /*bottom: 15%;*/
    left: 10px;
}
.buttons-network_button{
    width: 55px;
    height: 55px;
    display: block;
    padding: 0 20px;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.2);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #222;
    transition: all 0.3s ease;
    margin-bottom: 15px;
    /*font-weight: bold;*/
}
.buttons-network_button h4{
    display: none;
 
}
.buttons-network_button:hover > h4{
    display: block;
}
.buttons-network_button:hover {
    width: 100%;
    padding: 0 10px;
}
.buttons-network_button:nth-child(1):hover {
   color: #4267b2;
}
.buttons-network_button:nth-child(2):hover {
    color: #E1306C;
 }
 .buttons-network_button:nth-child(3):hover {
    color: #d30606;
 }
 .buttons-network_button:nth-child(4):hover {
    color: #000000;
 }
 .buttons-network_button:nth-child(5):hover {
    color: #25d366;
 }
 .buttons-network_button:nth-child(6):hover {
    color: #4dbe19;
 }
 .cardpresentacion{
    width: 350px;
    height: 470px;
    margin-top: 15%;
    /*margin-left: 75%;*/
    padding: 15px ;
    background: #000000;
    border-radius:5px ;
    box-shadow: 10px 10px 6px rgb(88, 88, 88);
    }
img{
    width: 350px;
}
h5{
    font-family:cursive;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align:center;
    color: azure;
}
p{
    margin-top: 5px;
    font-family:cursive;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align:justify;
    color:azure
}
